mixin slider()
  .slider
    .slider__background-line
    .slider__range-line.js-slider__range-line
    .slider__point.slider__point_position_start.js-slider__point_position_start
    .slider__point.slider__point_position_end.js-slider__point_position_end