* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

.slider-page {
  max-width: 80%;
  margin: 9rem auto 0;
  &__slider-container {
    // border: 0.05rem dashed red;
    margin-bottom: 5rem;
  }
  &__slider-container-first {
    width: 60%;
    height: 0.65rem;
  }
  &__slider-container-second {
    width: 30%;
    height: 1.3rem;
  }
  &__slider-container-third {
    width: 80%;
    height: 3rem;
  }
}