.slider-tweak {
  margin-top: 2rem;
  &__inputs-section,
  &__checkboxes-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__input-element {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    border: 0.03rem solid #6bd2c1;
    background-color: #6bd2c1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    user-select: none;

    &:hover {
      outline: 1px solid #4b973d;
    }
  }
  &__input-label {
    padding: 0.6rem;
    color: white;
    font-weight: bold;
    user-select: none;
  }
  &__input {
    display: block;
    height: 100%;
    width: 4rem;
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6bd2c1;
    border: none;
    outline: none;
    user-select: none;
  }
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__checkbox-element {
    margin: 0.5rem;
  }
  &__checkbox-span {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6bd2c1;
    user-select: none;
    cursor: pointer;
  }
  &__checkbox-span::before {
    content: '';
    display: inline-block;
    margin-left: 0.5rem;
    width: 4rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0.03rem solid #6bd2c1;
    background-color: #6bd2c1;
  }
  &__checkbox-span::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 2rem;
    width: 2rem;
    height: 1.85rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: none;
    background-color: honeydew;
    transition: right 0.1s ease;
  }
  &__checkbox:not(:disabled):active+span::after {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  &__checkbox:checked+span::after {
    right: 0.15rem;
  }
  &__checkbox:checked+span::before {
    outline: 2px solid #4b973d;
  }
}